.container {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.red {
  background-color: red;
  float: right;
}

.green {
  background-color: green;
  float: left;
}

.footer {
  height: 25px;
  clear: both;
}
