.icons {
  display: flex;
  justify-content: space-around;
}

.icons i:nth-child(1) {
  font-size: 16px;
}

.icons i:nth-child(2) {
  font-size: 32px;
}

.icons i:nth-child(3) {
  font-size: 64px;
}

.icons i:nth-child(4) {
  font-size: 128px;
}

.icons i:nth-child(5) {
  font-size: 256px;
}
