* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
}

body {
  @include min_width1400 {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
}

.hide-mobile {
  display: none;
  @include min_width1400 {
    display: block;
  }
}

.hide-desktop {
  @include min_width1400 {
    display: none;
  }
}

.w-100 {
  width: $w_100;
}

.d-flex {
  display: flex;
}

.wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

@include min_width1400 {
  .wrap {
    max-width: 1140px;
  }
}

main {
  max-width: 1400px;
  margin: 0 auto;
}
