.header {
  background-color: #f3c6bd;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .wrap {
    margin: 0 auto;
    @include min_width1400 {
      margin: 36px auto 0 auto;
    }
  }
  > .wrap {
    box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
    background: #fff;
    @include min_width1400 {
      box-shadow: none;
      background: none;
    }
  }
  .logotype {
    margin-top: 8px;
    margin-bottom: 8px;
    @include min_width1400 {
      margin-top: 2px;
      width: 299px;
      margin-bottom: 0;
    }
  }
  @include min_width1400 {
    background-color: #f3c6bd;
    box-shadow: none;
    max-width: 1400px;
    margin: 0 auto;
    align-items: flex-end;
    &__menu {
      @include min_width1400 {
        height: 48px;
        align-items: flex-start;
      }
      margin-left: auto;
      display: flex;
      align-items: center;
      &-nav {
        @include min_width1400 {
          margin-top: 7px;
        }
        &-list {
          display: flex;
          list-style-type: none;
          margin: 0 56px 0 0;
          padding: 0;
          &-item {
            line-height: 25px;
            &:not(:first-child) {
              margin-left: 49px;
              &:last-child {
                margin-left: 11px;
                line-height: 24px;
              }
            }
            &.active {
              font-weight: bold;
            }
            &-link {
              font-size: 18px;
              color: $color_black;
              text-decoration: none;
            }
            &-arrow {
              height: 5px;
              width: 8px;
            }
          }
        }
      }
    }
  }

  .button__hamburger {
    margin-left: auto;
  }
}
