.headline {
  background-color: #f3c6bd;
  padding: 0 0 36px 0;
  width: 100%;
  margin-top: 35px;
  @include min_width1400 {
    padding: 0 0 126px 0;
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 76px auto 0 auto;
  }
  .wrap {
    position: relative;
    flex-direction: column;
    margin-top: 0;
  }
  &__column-left {
    padding: 0 15px;
    @include min_width1400 {
      position: relative;
      z-index: 1;
      margin-right: auto;
      padding: 0;
    }
  }
  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    color: $color_black;
    min-height: 205px;
    @include min_width1400 {
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      min-height: 165px;
      max-width: 754px;
      margin-left: 0;
      margin-top: 8px;
    }
  }
  &__description {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: $color_black;
    // margin: 24px 0 0 0;
    margin: 14px 0 0 0;
    min-height: 172px;
    @include min_width1400 {
      margin-top: 34px;
      min-height: 102px;
      max-width: 456px;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    @include min_width1400 {
      margin-top: 58px;
      flex-direction: row;
    }
    .button {
      @include min_width1400 {
        margin-top: 0;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      margin-top: 15px;
    }
  }
  &__background {
    margin-top: 33px;
    display: block;
    max-width: 320px;
    max-height: 180px;
    @include min_width1400 {
      position: absolute;
      z-index: 0;
      top: 8px;
      right: -105px;
      max-width: 796px;
      max-height: 448px;
      margin-top: 0;
    }
    img {
      max-width: 100%;
    }
  }
}
