.button {
	height: 40px;
	border-radius: 4px;
	border: 1px solid #dadce0;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	background-color: #fff;
	padding: 0 15px;
	letter-spacing: 0.25px;
	line-height: 38px;
	text-decoration: none;
	color: #3c4043;
	&:hover {
		background-color: #f1f3f4;
	}
}

.icon-button {
	outline: none;
	border: none;
	cursor: pointer;
	background: transparent;
	color: #5f6368;
	margin-right: 5px;
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		background: #fff;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 8px;

		box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
			0px 9px 46px 8px rgba(0, 0, 0, 0.12),
			0px 11px 15px -7px rgba(0, 0, 0, 0.2);
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #cccccc45;
	z-index: 10;
}

.popup {
	&__content {
		position: absolute;
		background: #fff;
		padding: 16px;
		border: 1px solid #ccc;
		border-radius: 8px;
		width: 150px;
		box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
			0px 9px 46px 8px rgba(0, 0, 0, 0.12),
			0px 11px 15px -7px rgba(0, 0, 0, 0.2);
	}
	.button {
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	.delete-event-btn {
		color: #ea4335;
	}
}

.hidden {
	display: none;
}
