{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"ie": "10",
					"edge": "98",
					"firefox": "98",
					"android": "97",
					"chrome": "99",
					"ios": "12",
					"opera": "81",
					"safari": "14.2",
					"samsung": "14"
				},
				"debug": true,
				"useBuiltIns": "usage",
				"corejs": 3,
				"modules": false
			}
		]
	]
}
