{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"chrome": "97",
					"edge": "98",
					"firefox": "96",
					"ios": "14.5",
					"samsung": "16"
				},
				"useBuiltIns": "usage",
				"corejs": 3,
				"modules": false,
				"debug": true
			}
		]
	]
}
